

<div class="row">
  <div class="center">
    <h1> <%= location %> </h1>
    <div class="coordinates">
      <%= y %> <%= x %>
    </div> 
    
    <div class="col s2 card medium hoverable z-depth-2">
          <% switch (currently.icon) {
              case "clear-day": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "clear-night": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "rain": %>
                <img src="/icons/Cloud-Rain.svg" class="activator">
                <% break; %>
          <%  case "snow": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "sleet": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "wind": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "fog": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "cloudy": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "partly-cloudy-day": %>
                <img src="/icons/Cloud-Sun.svg" class="activator">
                <% break; %>
          <%  case "partly-cloudyt-night": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "hail": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "thunderstorm": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "tornado": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  default: %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>   
          <% } %>        
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= Math.round(currently.temperature) %><i class="material-icons right">more_vert</i></span>
</div>
<div class="card-reveal">
<p><%= currently.summary %></p>  
        <p><%= Math.round(currently.windSpeed / 1.609) %> MPH / <%= currently.windBearing %>&#176;</p>
        <h6>NOW</h6>
      </div> 
    </div>

    <% for (let i = 0; i < 5; i++) { %>
      <div class="col s2 card medium hoverable z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
          <% switch (forecast.data[i].icon) {
              case "clear-day": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "clear-night": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "rain": %>
                <img src="/icons/Cloud-Rain.svg" class="activator">
                <% break; %>
          <%  case "snow": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "sleet": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "wind": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "fog": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "cloudy": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "partly-cloudy-day": %>
                <img src="/icons/Cloud-Sun.svg" class="activator">
                <% break; %>
          <%  case "partly-cloudyt-night": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "hail": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "thunderstorm": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  case "tornado": %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>
          <%  default: %>
                <img src="/icons/Cloud.svg" class="activator">
                <% break; %>   
          <% } %>
       </div>

     <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= Math.round(forecast.data[i].temperatureMin) %> / <%= Math.round(forecast.data[i].temperatureMax) %></span>

          <p><%= forecast.data[i].summary %></p>
          <p><%= Math.round(forecast.data[i].windSpeed / 1.609) %> MPH / <%= forecast.data[i].windBearing %>&#176;</p>

          <h6>
            <% let timeStamp = new Date(forecast.data[i].time * 1000);  %>
            <% let dayOfWeek = timeStamp.getDay(); %>

            <% switch (dayOfWeek) {
                case 0: %>
                  SUN
                  <% break; %>
            <%  case 1: %>
                  MON
                  <% break; %>
            <%  case 2: %>
                  TUE
                  <% break; %>
            <%  case 3: %>
                  WED
                  <% break; %>
            <%  case 4: %>
                  THU
                  <% break; %>
            <%  case 5: %>
                  FRI
                  <% break; %>
            <%  case 6: %>
                  SAT
                  <% break; %>
            <%  default: %>
                  ERR
                  <% break; %>   
            <% } %>

          </h6>

      </div>
</div>
    <% }; %>
</div>
