<div class="">
  <h2>It is currently <%= results.currently.temperature %> in <%=local%></h2>
</div>
<div class="">
  <h2>Tomorrow: <%= results.daily.data[1].temperatureHigh %> <%=local%></h2>
</div>
<div class="">
  <h2> <%= results.daily.data[2].temperatureHigh %> in <%=local%></h2>
</div>
<div class="">
  <h2> <%= results.daily.data[3].temperatureHigh %> in <%=local%></h2>
</div>
<div class="">
  <h2> <%= results.daily.data[4].temperatureHigh %> in <%=local%></h2>
</div>
