<h2>Results Page</h2>
    <h2><%= name %></h2>
    <h3><%= summary %></h3>
    
<!-- 
<div><% days.forEach(d => { %>
    <h3><%= d.time %></h3>
    <p>Temperature Low <%= d.temperatureLow %></p>
    <p>Temperature High <%= d.temperatureHigh %></p>
    <p>Wind Speed <%= d.windSpeed %></p>
<% }) %> 
</div> -->



<div><% days.forEach(d => { %>
    <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="https://www.vaisala.com/sites/default/files/styles/16_9_liftup_extra_large/public/images/LIFT-weather-spectre-800x450.jpg?itok=F2qkTCJN">
              <span class="card-title">Weather Report</span>
            </div>
            <div class="card-content">
              
            <h3><%= d.time %></h3>
            <p>Temperature Low <%= d.temperatureLow %></p>
            <p>Temperature High <%= d.temperatureHigh %></p>
            <p>Wind Speed <%= d.windSpeed %></p>
            </div>
            
          </div>
        </div>
      </div>
<% }) %> 
</div>
