<% const todaysData = data.daily.data[0]; %>
<% const currentData = data.currently; %>
<% const now = new Date(data.currently.time*1000) %>
<% const alerts = data.alerts || [] %> 
<% const daysList = ['Sun','Mon','Tues','Wed','Thurs','Fri','Sat']; %>
<% const fourDays = data.daily.data.slice(1,5); %>
<% fourDays.forEach(day => { %>
  <% day.date = new Date(day.time * 1000); %> 
<% }); %>

<h4><%= data.locationString %></h4>
<h6><%= data.latitude %>, 
<%= data.longitude %> </h6>
<h3><%= now.toLocaleDateString('en-US', { timeZone: data.timezone, weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }); %> </h3>
<h5><%= now.toLocaleTimeString('en-US', { timeZone: data.timezone }); %> </h5>

<div class="row">
<div class="col s12 m8 offset-m2">
  <div class="card white large darken-1">
    <div class="card-content black-text">

      <div class="card-top">
        <div class="icon-container">
          <canvas class="weather-icon" id="main-icon" width="128" height="128"><span id="icon-text"><%= data.currently.icon %></span> </canvas>
        </div>
        <div class="temp">
          <h4 class="temp-title"><%= currentData.temperature.toFixed(0) %>&deg;F</h4>
          <h5><%= currentData.summary %></h5>
        </div>
      </div>

      <div class="card-middle">
        <p> <%= data.daily.summary %>  </p>
      </div>

      <div class="card-bottom">
        <% if (alerts.length > 0) { %>
          <% alerts.forEach(alert => { %>
            <a class="alert-link" href="<%= alert.uri %>">
              <h6> <%= alert.title %> </h6>
              <p> <%= alert.severity %> </p>
              <p> <%= alert.description.slice(0,100) %>...(click for details)</p>
            </a>
          <% }); %>
        <% } else { %>

          <h6 class="detail-block">Precipitation: <%= currentData.precipProbability %>%</h6>
          <h6 class="detail-block">Wind: <%= currentData.windSpeed %>mph </h6>
          <h6 class="detail-block">Humidity: <%= Math.floor(currentData.humidity * 100) %>% </h6>
          <h6 class="detail-block">UV:<br><%= currentData.uvIndex %> </h6>
        <% } %> 
      </div>
    

    </div>
  </div>
</div>
</div>



<div class="slides">

<div class="row">
<% fourDays.forEach(day => { %>
<div class="col s6 m3">
  <div class="card-panel day-slide white">
    <h5 class="black-text"> <%= daysList[day.date.getDay()]; %> </h5>
    <canvas class="small-icon" data-icon="<%= day.icon %>" width="64" height="64"></canvas>
    <h6 class="detail-block">High: <%= day.temperatureHigh.toFixed(0) %></h6>
    <h6 class="detail-block">Low: <%= day.temperatureLow.toFixed(0) %></h6>
    <h6 class="detail-block">Wind: <%= day.windSpeed.toFixed(0) %>mph </h6>
    <p class="detail-block summary"><%= day.summary  %></p>
    <p></p>
  </div>
</div>
<% }); %>
</div>
</div>



<script src="skycons.js"></script>
<script src="results.js"></script>
