<h2>Results Page</h2>


<div class="coordinates">
<p>  
    <%= location %>
</p>
    <%= x %> <%= y %>
</div> 

<div id="current-conditions">
The current temperature in <%= location %> is <%= currentTemperature %>.
</div>  

