
<div class="row">

  <div class="center ">
    <h1>
      <%= location %>
    </h1>
    <div class="coordinates">
      <%= y %> <%= x %>
    </div> 
    
    <div class="col s2">

      <img src="/icons/Cloud.svg">
      <div id="current-summery">
        <p><%= currently.summary %></p>
      </div>  

      <div id="current-temperature">
        <p><%= Math.round(currently.temperature) %></p>
      </div>  

      <div id="current-winspeed">
        <p><%= Math.round(currently.windSpeed / 1.609) %> MPH from <%= currently.windBearing %>&#176;</p>
      </div>  

      <h4>NOW</h4>

    </div>
    <% for (let i = 0; i < 5; i++) { %>
      <div class="col s2">
          <!-- <p><%= forecast.data[i].icon %></p> -->
          <img src="/icons/Cloud.svg">
          <p><%= Math.round(forecast.data[i].temperatureMin) %> / <%= Math.round(forecast.data[i].temperatureMax) %></p>
          
          <p><%= forecast.data[i].summary %></p>
          <p><%= Math.round(forecast.data[i].windSpeed / 1.609) %> MPH from <%= forecast.data[i].windBearing %>&#176;</p>

          <h6>
            <% let timeStamp = new Date(forecast.data[i].time * 1000);  %>
            <% let dayOfWeek = timeStamp.getDay(); %>

            <% switch (dayOfWeek) {
                case 0: %>
                  MON
                  <% break; %>
            <%  case 1: %>
                  TUE
                  <% break; %>
            <%  case 2: %>
                  WED
                  <% break; %>
            <%  case 3: %>
                  THU
                  <% break; %>
            <%  case 4: %>
                  FRI
                  <% break; %>
            <%  case 5: %>
                  SAT
                  <% break; %>
            <%  case 6: %>
                  SUN
                  <% break; %>
            <%  default: %>
                  ERR
                  <% break; %>   
            <% } %>

          </h6>

      </div>

    <% }; %>
</div>

