<h2>Results Page</h2>

<h3>Location: <%= location.name %> </h3>
<h2>Longitude: <%= location.coordinateLongitude %> </h2>
<h2>Latitude: <%= location.coordinateLatitude %> </h2>
<h2>The temperature in <%= location.name %> is <%= weatherInfo.temperature %> degrees Farenheit.</h2>