<h2>Results Page</h2>
<div class="current">
<h3><%=name%><span class="temperature"><small>currently</small> <%=temperature.toFixed(0)%>°</span></h3>
<p>Latitude: <%=locations.y.toFixed(2)%>, Longitude: <%=locations.x.toFixed(2)%></p>
</div>
<div class="five-day">
	<p class="summary"><%=summary%></p>
	<% for (var i = 0; i < 5; i++) { %>
		<div id="<%=i%>" class="five-day-card">
			<p class="weekday"><%=fiveday[i].day%></p>	
			<p class="temp-high"><%=fiveday[i].tempHigh%></p>	
			<p class="temp-low"><%=fiveday[i].tempLow%></p>	
			<p class="weather-icon"><%=fiveday[i].icon%></p>	
		</div>
	<% } %>
</div>
