<!DOCTYPE html>
<html>
<head>
	<title>How's the Weather</title>
</head>
<body id="resultContainer">
	<div id="box1">
		<div class="results" id="reusultsTitle1">CURRENTLY</div>
		<div class="results">Temperature:  <span id="rc1"><%= Math.round(ctemperature) %>&deg;<span></div>
		<div class="results">Humity:  <span id="rc2"><%= chumidity %><span></div>
		<div class="results">Wind Speed:  <span id="rc3"><%= cwindSpeed %><span></div>
			<div id="summary1"><%= csummary %></div> 
	</div>
<!-- 	<div id="box2">
		
	</div> -->
	<div id="box3">
		<div class="results" id="reusultsTitl2">DAILY</div>
		<div class="results">High Temperature:  <span id="rd1"><%= Math.round(temperatureHigh) %>&deg;<span></div>
		<div class="results">Low Temperature:  <span id="rd2"><%= Math.round(temperatureLow) %>&deg;<span></div>
		<div class="results">Humity:  <span id="rd3"><%= dhumidity %><span></div>
		<div class="results">Wind Speed:  <span id="rd4"><%= dwindSpeed %><span></div>
			<div id="summary2"><%= dsummary %></div> 
	</div>
<!-- 		<div id="box4">
		
	</div>
 --></body>
</html>

